* {
  /* Tar bort standardmarginaler och padding */
  box-sizing: border-box;
  font-family: helvetica;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
}

/* HEADER SECION */
.header {
  display: flex;
  justify-content: center; /* Centers content inside */
  align-items: center;
  position: absolute; /* Ensures it stays on top of the hero section */
  top: 0;
  left: 0;
  width: 100vw;
  padding: 20px 50px;
  background-color: transparent; /* Keeps it transparent */
  z-index: 900; /* Ensures it's always on top */
}

/* Header-lista (navigation) */
.headerlist {
  display: flex;
  justify-content: space-between; /* CITY to the left, menu to the right */
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

/* CITY logotype */
.city {
  font-weight: bold;
  font-size: 40px;
  color: white;
}

/* Navigation Menu */
.menu-items {
  display: flex;
  list-style: none;
  gap: 30px; /* Space between menu items */
  padding: 10px 0;
  margin: 0;
  align-items: center; /* Ensures vertical centering */
}

.menu-items li {
  display: flex; /* Use flex to align items vertically */
  padding: 0;
  cursor: pointer;
  font-weight: bold;
  color: white;
  border: none; /* Remove border on individual items */
  align-items: center; /* Vertically center the text */
}

.menu-items li:hover {
  border-bottom: 2px solid white;
}

/* HERO SECTION */
.hero-section {
  position: relative;
  width: 100%;
  height: 45vh; /* Adjust the height as per your preference */
}

/* Dark overlay on the image */
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay with 50% opacity */
  z-index: 1; /* Ensure it's behind the text */
}

/* Hero image */
.hero-section-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0; /* Ensure the image stays behind the text */
}

/* TEXT SECTION */
.text-section {
  display: flex;
  flex-direction: column; /* Staplar texten */
  justify-content: center; /* Centrerar vertikalt */
  align-items: center; /* Centrerar horisontellt */
  text-align: center; /* Säkerställer att texten är centrerad */
  height: 25vh; /* Gör sektionen lika hög som hela skärmen */
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
  margin: 0;
}

/* SORT SECTION */
.sort-section {
  display: flex;
  justify-content: space-between; /* Space between the button and input */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; /* Centers the section */
  position: relative; /* Allows absolute positioning inside */
  padding: 0px 20px;
}

.sort-button {
  display: inline-block;
  padding: 8px 30px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  border: 0;
  font-size: 16px;
  height: 36px;
}
.sort-button:hover {
  background-color: #9c3030;
}

.add-input {
  height: 36px;
  display: inline-block;
  font-size: 16px;
  padding: 8px 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 1px solid #ccc; /* Border to match the button */
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box; /* Ensures padding is included in width */
  margin: 0 10px 0 0;
}

/* STORE SECTION */
.store-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Responsive grid */
  gap: 20px; /* Space between cards */
  padding: 20px;
  list-style: none;
  max-width: 1200px; /* Adjust max width if needed */
  margin: 0 auto; /* Center container */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Push content to top & button to bottom */
  padding: 20px;
  border-radius: 5px;
  background: #dcd0ba;
  position: relative; /* For absolute positioning of the edit button */
}

.card > div > h3 {
  margin: 0;
  font-size: 1.2rem;
  white-space: normal; /* Allow wrapping if necessary */
  overflow-wrap: break-word; /* Ensure long words break and wrap to the next line */
  word-wrap: break-word; /* Fallback for older browsers */
  padding-right: 50px; /* Add some space on the right to avoid overlapping with edit button */
}

.card > div > p {
  margin: 5px 0px 20px 0px;
}

.button {
  display: inline-block;
  padding: 8px 12px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.button:hover,
.edit-button:hover,
.delete-button:hover {
  background-color: #9c3030;
}

/* Positioning the edit button to the top-right corner */
.edit-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 9px;
  outline: none;
  border: none;
  font-size: 18px;
}

.delete-button {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 9px;
  font-size: 18px;
}

.icon {
  width: 20px;
  height: 20px;
  filter: invert(98%) sepia(10%) saturate(336%) hue-rotate(222deg)
    brightness(123%) contrast(100%); /* imported from https://isotropic.co/tool/hex-color-to-css-filter/ */
}

.collapsible {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
/* Style the collapsible content. Note: hidden by default */
.content {
  display: none;
  overflow: hidden;
  max-width: 220px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex; /* Ensures the popup is visible */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.pop-up {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  text-align: center;
}

.pop-up-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.pop-up-head > h2 {
  margin: 0;
  font-size: 2rem;
}
.form {
  display: flex;
  flex-direction: column; /* Align form items vertically */
  align-items: flex-start; /* Align items to the left */
}

.form > input {
  height: 36px;
  display: inline-block;
  font-size: 16px;
  padding: 0px 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 1px solid #ccc; /* Border to match the button */
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box; /* Ensures padding is included in width */
  margin: 0 10px 0 0;
  width: 100%;
}

.form > label {
  font-size: 14px; /* Make the label text smaller */
  margin-top: 15px; /* Add more space above the label */
  margin-bottom: 5px; /* Reduce space below the label */
}

.form > input[type="submit"] {
  display: inline-block;
  padding: 8px 12px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  outline: none;
  margin: 20px 0 0 0;
}

.form > input[type="submit"]:hover {
  background-color: #9c3030;
}

/* --- GOOGLE ICONS ----------------------------------------------- */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 9px;
  font-size: 18px;
}
